@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

img {
  width: 200px;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1f2937;
}

/*purely for org*/
.header {
  border: 5px solid black;
  margin: 0px;
  flex-direction: row;
  display: flex;
}

.hlist {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.hlogo {
  font-size: 24px;
  color: #f9faf8;
}
a {
  font-size: 18px;
  color: #e5e7eb;
}

.main {
  display: flex;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
