@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.mainimg {
  width: 600px;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #001011;
}

/*purely for org*/
.header {
  border: 5px solid black;
  margin: 0px;
  flex-direction: row;
  display: flex;
}

.hlist {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.hlogo {
  font-size: 24px;
  color: #f9faf8;
}
a {
  font-size: 18px;
  color: #e5e7eb;
}

.main {
  display: flex;
  align-items: center;
  align-content: center;
  gap:50px;


}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}

.hero2 {
 font-size: 18px;
 color: #e5e7db;
 margin-top:0px;
 flex-wrap: wrap;
}

.herobutton {
  border: none;
  border-radius: 8px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:30px;
  background-color:#ff0000;
  color: #e5e7db;
}

.aligner {
  display: flex;
  justify-content: center;
 margin-top:100px;
 margin-bottom:100px;
}

.maintext {
  width:450px;
}

.layout {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background-color: #f9faf8;
  display: flex;
  gap:200px;
  /*cambia el gap por algo mejor*/
}

.cardimg {
  width:600px;
  height: 400px;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Quote {
  background-color: #e5e7eb;
}
.logoimg {
  height:auto;
  width:300px;
}